* {
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/universumErde.jpg");
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-card{
    max-width: 1200px;
    margin: 80px;
    border-radius: 16px;
    border: 3px solid #353535;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 60px;
    box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.city{
    font-family: "Roboto Light",sans-serif;
    font-size: 64px;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0;
}
.main-info{

    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 34px;
    line-height: normal;
    padding: 24px 0;
    display: grid;
    grid-template-columns: repeat(3, 384px);
    gap: 24px;
    margin-top: 60px;


}
..weather-info{
    display: flex;
    flex-direction: column;
    /*border-radius: 16px;
    border: 1px solid #353535; */
    padding: 20px 0;
}
.img {
    max-width: 100%;
}